body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #0d1b2a, #1b263b, #000814);
}

.container-master{
    max-width: 500px;
    margin: 50px auto;
    }

.titulo-tareas {
    color: #e63e4c;
    opacity: 0.7;
    font-size: 5rem;
    font-weight: 200;
    margin-bottom: 20px
}

.lista {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 8px 0 -3px #f6f6f6,
        0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6,
        0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.lista li {
    padding: 5px 20px;
    border-bottom: 1px solid #ededed;
    color: #4d4d4d;
    display: flex;
    justify-content: space-between;
}

p {
    color: #e63e4c;
}

#boton {
    font-size: 25px;
    margin-top: 20px;
    background-color: #e63e4c;
}